{% extends 'layout/main.html' %}
{% block content %}

<div class="container mt-5" style="width:500px;">
   
   <form action="" method="POST">
      {% csrf_token %}
      <div class="bg-info text-white py-1 text-center">
         <p>Are you sure want to delete{{person}} ?</p>
      </div>
      <div class="mt-5">
         <button type="submit" class="btn btn-sm bg-info text-white">Delete</button>
         
         <a href="{% url 'homepage' %}" class="btn btn-sm bg-info text-white">Home</a>
      </div>
   </form>
</div>

{% endblock content %}