{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css/' %}">
   <title>Document</title>
</head>
<body>
   <div class="container mt-5" style="width:600px;">
      <div class="bg-info py-2 text-white text-center">
         <h5>Register Here</h5>
      </div>
      <form action="" method="POST">
         {% for field in register_form %}
         <div class="mb-3 mt-5">
            
            <label for="" class="form-label">{{field.label}}</label>
            <!-- <input type="text" class="form-control" name="name" id="" aria-describedby="emailHelpId" -->
                <!-- placeholder="@KyawLynnAwng"> -->
                {{field}}

        </div>
        {% endfor %}
         
         <button type="submit" class="btn btn-sm bg-info text-white">Register</button>
         <a href="{% url 'loginpage' %}"> <button type="submit" class="btn btn-sm bg-info text-white">Login</button></a>
      </form>
      
   </div>
</body>
</html>